{
    auto_https off
    admin off
    order php_server before file_server
}

:{$PORT:8080} {
    root * /app/public
    respond /health "ok" 200
    php_server
    file_server
    encode zstd gzip
}
