{% extends 'layout/app_shell.html.twig' %}

{% block title %}New Question{% endblock %}

{% block app_content %}
    <h1 style="margin-top:0; font-size:1.75rem;">Create new Question</h1>

    {{ include('question/_form.html.twig', {'button_label': 'Create Question'}) }}

    <div style="margin-top: 1.5rem;">
        <a href="{{ path('app_question_index') }}" class="auth-link">← Back to list</a>
    </div>
{% endblock %}
